@model IEnumerable<OrnekUygulama.Models.Kullanicilar>

@{
    ViewData["Title"] = "Kullanicilar";
    Layout = "~/Views/Shared/_yonetimtema.cshtml";
}

<h1>Kullanıcılar</h1>

<p>
    <a asp-action="KullaniciEkle">Kullanıcı Oluştur</a>
</p>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-6">
            <select id="listelemeturu" name="listelemeturu" class="form-control">
                <option value="Tümü">Tümü</option>
                <option value="Aktif">Aktif</option>
                <option value="Pasif">Pasif</option>
            </select>
        </div>
        <div class="col-6">
            <input type="submit" value="Listele" class="btn btn-primary"/>
        </div>
        <br/>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Adi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soyadi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eposta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parola)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yetki)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aktif)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Adi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soyadi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eposta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parola)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yetki)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aktif)
            </td>
            <td>
                <a asp-action="KullaniciOnay" asp-route-id="@item.KullaniciId" onclick="return confirm('Kullanıcı hesap durumu değiştirilecek emin misiniz?')">Aktif/Pasif</a> |
                <a asp-action="KullaniciGetir" asp-route-id="@item.KullaniciId">Düzenle</a> |
                <a asp-action="KullaniciSil" asp-route-id="@item.KullaniciId" onclick="return confirm('Kullanıcıyı silmek istediğinize emin misiniz?')">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
